@font-face{
	font-family: 'AkzidenzGroteskLight';
	src: url('../fonts/akzidenz-grotesk-light.eot'),
     url('../fonts/akzidenz-grotesk-light.eot?#iefix') format('embedded-opentype'),
     url('../fonts/akzidenz-grotesk-light.woff') format('woff'),
     url('../fonts/akzidenz-grotesk-light.ttf') format('truetype');
}

@font-face{
	font-family: 'AkzidenzGroteskBeSuper';
	src: url('../fonts/akzidenz-grotesk-be-super.eot'),
     url('../fonts/akzidenz-grotesk-be-super.eot?#iefix') format('embedded-opentype'),
     url('../fonts/akzidenz-grotesk-be-super.woff') format('woff'),
     url('../fonts/akzidenz-grotesk-be-super.ttf') format('truetype');
}

html, body{
	font-family: 'AkzidenzGroteskLight', sans-serif;
	background-color: #06335C;
}

a{
	color:#13D2D3;
}

hr{
	border-top: 1px solid #AAA;
}

.modal .modal-dialog {
  width: 90%;
}
.modal-body {
  overflow-y: auto;
}

.imgs-preview-container{
	margin-top: 20px;
}

.img-preview-container{
	display: inline-block;
	margin-left: 20px;
	position: relative;
}

.img-preview{
	max-width: 200px;
	max-height: 200px;
	display: inline-block;
	margin-left: 10px;
}

.img-preview-container button{
	position: absolute;
	right: 0;
	top:0;
	background-color: transparent;
	border: none;
	font-size: 20px;
	color:#c9302c;
}

.img-preview-container button:active, .img-preview-container button:focus{
	border:none;
	outline: none;
}

.dropzone{
	height: 200px;
	width: 200px;
	border:1px dashed #A0A0A0;
	border-radius: 20px;
	font-size: 14px;
	padding: 20px;
}

.dropzone p{
	margin-top: 40%;
	text-align: center;
}

.btn.btn-primary{
	background-color: #06335C;
	color:#FFF;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar-default .navbar-nav>li>a i{
	color:white;
	font-size: 28px;
	font-weight: lighter;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,  .navbar-default .navbar-nav>li>a.active{
    color: #13D2D3;
}

.navbar{
	margin-bottom: 0;
	border-radius: 0;
	border:none;
	margin-top: 62px;
	background-color: transparent;
}

.navbar .logo{
	width: 218px;
	margin-left: 45px;
}

.navbar-nav{
	margin-top: 26px;
}

.navbar-brand{
	height: auto;
	padding:0;
}

.header-container{
	text-align: center;
	color:#FFF;
	background-color: transparent;
}

.header-container h2{
	margin: 0;
	padding: 20px 0;
	font-weight: lighter;
	text-transform: uppercase;
}

.circle-container{
	width: 170px; height: 170px;
	border-radius: 50%;
	border: 2px solid white;
    border-bottom-color: #13D2D3;
    border-left-color: #13D2D3;
    border-right-color: #13D2D3;
    border-top-color: transparent;
    transform: rotate(315deg);
    margin: 0 auto;
}

.circle {
    position: relative;
    margin: 10px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #DDDDDD;
}

.function-container{
	width:100%;
	text-align: center;
	position: relative;
}

.function{
	display: inline-block;
	padding: 100px 100px;
	position:absolute;
}

.function.diagnostic{
	left: 150px;
}

.function.monitoring{
	right: 150px;
}

.function h3{
	color: #13D2D3;
	font-weight: lighter;
	text-transform: uppercase;
	font-family: "AkzidenzGroteskLight";
}

.function p{
	width: 180px;
	text-align: justify;
}

.link{
	display: block;
	margin: 10px 0;
	text-transform: uppercase;
}

.clients-circle{
	text-align: center;
	padding-top: 20px;
}

 input.form-control[type="text"], textarea.form-control{
	border:1px solid #13D2D3;
	border-radius: 0px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color:#06335C;
}

textarea.form-control{
	resize: none;
}

.form-control[readonly]{
	background-color: #FFF;
}

.create-button-container{
	margin-bottom: 20px;
}

.list-box{
	background-color: #F2F2F2;
	overflow: hidden;
	margin-bottom: 20px;
}

.modal .list-box{
	background-color: transparent;
}

.modal .modal-body{
	padding: 20px 50px;
}

.list-box span.title {
    display: table;
    white-space: nowrap;
    font-size: 30px;
    color:#666666;
    text-align: left;
}

.list-box span.title:before, .list-box span.title:after {
      border-top: 1px solid #D5D5D5;
      content: '';
      display: table-cell;
      position: relative;
      top: 23px;
}

.list-box span.title:before { 
	width: 10%;
	right: 10px;
}
.list-box span.title:after { 
	width: 80%;
	left: 10px;
}

.list-box .col-sm-4{
	padding: 0 30px;
}

.list-box label{
	font-weight: normal;
	font-size: 16px;
	color:#666666;
}

.list-box .action-buttons{
	margin-right: 40px;
	margin-bottom: 20px;
}

.rdt-container {
    position: relative;
}

.rdt-container > table {
    position: relative;
    margin-bottom: 0px;
}

.rdt-editor {
    position: absolute;
    box-sizing: border-box;
}

.rdt-paginator {
    padding: 5px;
    border: 1px solid #ddd;
    border-top: none;
    overflow: auto;
}


.rdt-paginator ul.rdt-paginator-pager {
    margin: 0;
    float:right;
}

.rdt-paginator ul.rdt-paginator-pager > li > a {
    cursor: pointer;
    
}

.rdt-paginator ul.rdt-paginator-pager > li > span {
    cursor: pointer;
}

.rdt-arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    cursor: pointer;
}
.rdt-arrow-up-inactive {
    border-bottom: 5px solid #DDD;
}
.rdt-arrow-up-active,.rdt-arrow-up-inactive:hover {
    border-bottom: 5px solid #333;
}

.rdt-arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    cursor: pointer;
}


.rdt-arrow-down-inactive {
    border-top: 5px solid #DDD;
}
.rdt-arrow-down-active,.rdt-arrow-down-inactive:hover {
    border-top: 5px solid #333;
}

.carousel.slide{
	margin-bottom: 77px;
}

.modules{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.module-box{
	width: 350px;
	height: 294px;
	padding: 20px 40px;
	color: #FFF;
	background-color: #002644;
	float: left;
	margin-right: 50px;
	margin-bottom: 20px;
}

.module-box:hover{
	background-color: #13D2D3;
}

.module-box:last-child{
	margin-right: 0px;
}

.module-box .title-container{
	padding: 0 10px;
	border-left: 1px solid #FFF;
	text-transform: uppercase;
}

.module-box:hover .title-container{
	border-bottom: 1px solid #FFF;
}

.module-box:hover .title-container h2{
	font-family: AkzidenzGroteskBeSuper;
	color: #002644;
}

.module-box .title-container h3{
	font-size: 23pt;
	margin-bottom: 5px;
}

.module-box .title-container h2{
	font-size: 25pt;
	color: #13D2D3;
	margin-top: 5px;
}

.module-box ul li{
	display: none;
	list-style: none;
}

.module-box:hover ul li{
	display: block;
}