@font-face{
	font-family: 'AkzidenzGroteskLight';
	src: url('../fonts/akzidenz-grotesk-light.eot'),
     url('../fonts/akzidenz-grotesk-light.eot?#iefix') format('embedded-opentype'),
     url('../fonts/akzidenz-grotesk-light.woff') format('woff'),
     url('../fonts/akzidenz-grotesk-light.ttf') format('truetype');
}

@font-face{
	font-family: 'AkzidenzGroteskBeSuper';
	src: url('../fonts/akzidenz-grotesk-be-super.eot'),
     url('../fonts/akzidenz-grotesk-be-super.eot?#iefix') format('embedded-opentype'),
     url('../fonts/akzidenz-grotesk-be-super.woff') format('woff'),
     url('../fonts/akzidenz-grotesk-be-super.ttf') format('truetype');
}

html, body{
	font-family: 'AkzidenzGroteskLight', sans-serif;
	background-color: #06335C;
}

a{
	color:#13D2D3;
}

hr{
	border-top: 1px solid #AAA;
}

.btn{
	text-transform: uppercase;
	font-family: AkzidenzGroteskBeSuper;
	color:#000 !important;
	font-size: 12px;
	margin-left: 10px;
}

.btn.btn-default{
	background-color: #F2F2F2 !important;
}

.btn.btn-primary{
	background-color: #13D2D3 !important;
}

.modal .modal-dialog {
  width: 90%;
}
.modal-body {
  overflow-y: auto;
}

.imgs-preview-container{
	margin-top: 20px;
}

.img-preview-container{
	display: inline-block;
	margin-left: 20px;
	position: relative;
}

.img-preview{
	max-width: 200px;
	max-height: 200px;
	display: inline-block;
	margin-left: 10px;
}

.img-preview-container button{
	position: absolute;
	right: 0;
	top:0;
	background-color: transparent;
	border: none;
	font-size: 20px;
	color:#c9302c;
}

.img-preview-container button:active, .img-preview-container button:focus{
	border:none;
	outline: none;
}

.dropzone{
	height: 200px;
	width: 200px;
	border:1px dashed #A0A0A0;
	border-radius: 20px;
	font-size: 14px;
	padding: 20px;
}

.dropzone p{
	margin-top: 40%;
	text-align: center;
}

.btn.btn-primary{
	background-color: #06335C;
	color:#FFF;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar-default .navbar-nav>li>a i{
	color:white;
	font-size: 28px;
	font-weight: lighter;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,  .navbar-default .navbar-nav>li>a.active{
    color: #13D2D3;
}

.navbar{
	margin-bottom: 0;
	border-radius: 0;
	border:none;
	margin-top: 62px;
	background-color: transparent;
}

.navbar .logo{
	width: 218px;
	margin-left: 45px;
}

.navbar-nav{
	margin-top: 26px;
}

.navbar-brand{
	height: auto;
	padding:0;
}

.header-container{
	text-align: center;
	color:#FFF;
	background-color: transparent;
}

.header-container h2{
	margin: 0;
	padding: 20px 0;
	font-weight: lighter;
	text-transform: uppercase;
}

 input.form-control[type="text"], textarea.form-control, select.form-control{
	border:1px solid #FFF;
	color:#FFF;
	border-radius: 0;
	background-color: transparent;
}

textarea.form-control{
	resize: none;
}

.form-control[readonly]{
	background-color: #FFF;
}

.list-box{
	background-color: #002644;
	overflow: hidden;
	margin-bottom: 20px;
	color: #FFF;
}

.modal .list-box{
	background-color: transparent;
}

.modal .modal-body{
	padding: 20px 50px;
}

.list-box span.title {
    display: table;
    white-space: nowrap;
    font-size: 30px;
    color:#666666;
    text-align: left;
}

.list-box span.title:before, .list-box span.title:after {
      border-top: 1px solid #D5D5D5;
      content: '';
      display: table-cell;
      position: relative;
      top: 23px;
}

.list-box span.title:before { 
	width: 10%;
	right: 10px;
}
.list-box span.title:after { 
	width: 80%;
	left: 10px;
}

.list-box .col-sm-4{
	padding: 0 30px;
}

.list-box label{
	font-weight: normal;
	font-size: 16px;
}

.list-box .action-buttons{
	margin-right: 40px;
	margin-bottom: 20px;
}

.rdt-container {
    position: relative;
}

.rdt-container > table {
    position: relative;
    margin-bottom: 0px;
}

.rdt-editor {
    position: absolute;
    box-sizing: border-box;
}

.rdt-paginator {
    padding: 5px;
    border: 1px solid #ddd;
    border-top: none;
    overflow: auto;
}


.rdt-paginator ul.rdt-paginator-pager {
    margin: 0;
    float:right;
}

.rdt-paginator ul.rdt-paginator-pager > li > a {
    cursor: pointer;
    
}

.rdt-paginator ul.rdt-paginator-pager > li > span {
    cursor: pointer;
}

.rdt-arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    cursor: pointer;
}
.rdt-arrow-up-inactive {
    border-bottom: 5px solid #DDD;
}
.rdt-arrow-up-active,.rdt-arrow-up-inactive:hover {
    border-bottom: 5px solid #333;
}

.rdt-arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    cursor: pointer;
}


.rdt-arrow-down-inactive {
    border-top: 5px solid #DDD;
}
.rdt-arrow-down-active,.rdt-arrow-down-inactive:hover {
    border-top: 5px solid #333;
}

.carousel.slide{
	margin-bottom: 77px;
}

.carousel-caption{
	color: #13D2D3;
	font-size: 17pt;
	text-shadow: none;
}

.carousel-indicators .active{
	background-color: #13D2D3;
}

.modules{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.module-box{
	width: 350px;
	height: 294px;
	padding: 20px 40px;
	color: #FFF;
	background-color: #002644;
	float: left;
	margin: 0 15px;
	margin-bottom: 20px;
}

.module-box.active{
	background-color: #13D2D3;
	color: #002644;
}

.module-box .title-container{
	padding: 0 10px;
	border-left: 1px solid #FFF;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.module-box.active .title-container h2{
	font-family: AkzidenzGroteskBeSuper;
	font-size: 23pt;
	color: #002644;
}

.module-box .title-container h3{
	font-size: 24pt;
}

.module-box .title-container h2{
	font-size: 25pt;
	color: #13D2D3;
	margin-top: 5px;
}

.module-box ul{
	display: none;
	border-top: 1px solid #FFF;
	padding-top: 10px;
}

.module-box ul li{
	display: none;
	list-style: none;
	font-size: 21pt;
	margin-left: -30px;	
}

.module-box.active ul{
	display: block;
}

.module-box.active ul li, .module-box.active ul li a{
	display: block;
	color: #002644;
	text-decoration: none;
	text-transform: none;
}

.module-box.active ul li:hover, .module-box.active ul li a:hover{
	font-family: AkzidenzGroteskBeSuper;
}

.module .module-title-container{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: center;
	background-color: #002644;
}

.module .module-title{
	width: 600px;
	margin:0 auto;
	color:#13D2D3;
}

.module-title h3{
	font-size: 29pt;
	text-transform: uppercase;
}

.module-title h2{
	font-family: AkzidenzGroteskBeSuper;
	font-size: 36pt;
}

.module-title h4{
	font-size: 23pt;
}

.module .function-button{
	width: 261px;
	height: 105px;
	text-align: center;
	display: block;
	background-color: #002644;
	color:#FFF;
	font-size: 26pt;
	line-height: 85pt;
	text-transform: uppercase;
	text-decoration: none;
	margin: 20px auto;
}

.module .function-button:hover{
	background-color: #13D2D3;
	color:#002644;
	font-family: AkzidenzGroteskBeSuper;
}

.function-container .function-title{
	color: #13D2D3;
	font-size: 26pt;
}

.function-container .datatable{
	background-color: #F2F2F2;
}

.function-container .function-add{
	background-color: #002644;
	margin-top: 50px;
	padding: 10px 30px;
	color:#FFF;
	margin-bottom: 50px;

}

.function-container .create-button-container{
	margin: 30px 0;
	padding-right: 15px;
}

.equipment-options .col-sm-6{
	padding: 25px 40px;
}